.users {
    color: gray;
    font-size: 40px;
    svg {
        width: 20%;
        height: 20px;
    }

    @media only screen and (max-width : 768px) {
        font-size: 25px;
    }
}

.showMore {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    width: 100%;
    height: 75px;

    button {
        outline: none;
        border: none;
        background: none;
        font-size: 35px;
        color: #626c72;
        transition: transform 0.3s;

        &:hover {
            transform: translateY(10px);
            opacity: 0.85;
            transition: transform 0.3s;
            cursor: pointer;
        }
    }
}