.myPosts {
    border-top: 1px solid #ccc;
    padding-top: 20px;

    .header {
        margin-top: 40px;
        margin-bottom: 30px;
        font-size: 30px;
        color: #000;

        h4 {
            color: var(--nevada);
        }
    }

    .addPostBtn {
        margin-top: 10px;
        width: 125px;
        height: 30px;

        @media (max-width: (1024px)) {
            width: 200px;
            height: 40px;
        }

        @media (max-width: (768px)) {
            width: 250px;
        }

        @media (max-width: (768px)) {
            width: 250px;
        }

        @media (max-width: 360px) {
            width: 100%;
        }
    }

    &.info {
        span {
            font-size: 10px;
        }
    }
}

.form {
    margin-bottom: 50px;
    box-sizing: border-box;

    textarea {
        min-height: 75px;

        @media (max-width: (1024px)) {
            width: 50%;
        }

        @media (max-width: (768px)) {
            width: 75%;
        }

        @media (max-width: 360px) {
            width: 300px;
        }

        @media (max-width: 320px) {
            width: 260px;
        }
    }
}