.menu {
    position: relative;
    display: none;

    @media (max-width: (1024px)) {
        display: block;
    }
}

.menuBtn {
    position: relative;
    display: block;
    height: 40px;
    width: 40px;
    border: 3px solid white;
    border-radius: 0;
    outline: none;
    

    transition: border-radius 300ms ease;

    &:hover {
        border-radius: 50%;
        cursor: pointer;
    }

    &.isOpen {
        .menuBurger {
            opacity: 0;
            transform: translateX(45px);
        }

        .menuExit {
            opacity: 1;
            transform: translateX(0);
        }
    }
}

.menuBurger,
.menuBurger:before,
.menuBurger:after {
    display: block;
    content: '';
    width: 18px;
    height: 3px;
    background-color: white;
    position: absolute;
}

.menuBurger {
    left: 12px;
    top: 18px;
    transform: translateX(0);
    opacity: 1;
    outline: none;
    transition: opacity 300ms ease, transform 300ms ease;

    &:before {
        top: -8px;
    }

    &:after {
        top: 8px;
    }
}

.menuExit:before,
.menuExit:after {
    display: block;
    content: '';
    width: 22px;
    height: 3px;
    background-color: white;
    position: absolute;
}

.menuExit {
    position: absolute;
    top: 18px;
    left: 10px;
    transform: translateX(-45px);
    opacity: 0;

    transition: opacity 300ms ease, transform 300ms ease;

    &:before {
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);
    }
}